@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif, "Times New Roman", Times, serif;
  color: #172b4d;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
}

.green {
  color: #36b37e;
}

a {
  text-decoration: none;
}

#container {
  width: 375px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

/* header start */
#toolbar_wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  background-color: #fff;
  z-index: 10;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 89.33333%;
  margin: 0 auto;
}

.logo_placeholder {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: start;
}

.logo {
  font-weight: 600;
  padding: 10px 12px;
}

.menu {
  display: none;
}

/* header end */

/* start headline section */
#headline {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 726px;
  position: relative;
  top: 48px;
  padding: 6px 24px;
}

.background {
  background-image: url("../back-img/header-illsutration-mobile@2x.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: padding-box;
}

.primary {
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
}

.secondary {
  font-weight: 400;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/* end headline section */
