@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap");

/* reset page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global */
body {
  font-family: "Inter", sans-serif, "Times New Roman", Times, serif;
  color: #172b4d;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  width: 100vw;
}

* a {
  text-decoration: none;
}

* li {
  list-style-type: none;
}

.abs {
  position: absolute;
}

.bottom_0 {
  bottom: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.expand {
  border: 1px solid #dfe1e6;
  border-radius: 50%;
}

/* header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  background-color: #fff;
  z-index: 10;
}

.logo_placeholder {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: start;
}

.logo {
  font-weight: 600;
  padding: 10px 24px;
  color: #28352f;
}

.menu {
  margin-right: 24px;
}

/* headline section */
.headline {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 726px;
  position: relative;
  top: 48px;
  padding: 6px 24px;
}

.background {
  background-image: url("../back-img/header-illsutration-mobile@2x.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: padding-box;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  color: #36b37e;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/* work & about section */
.recent_work {
  top: -110px;
}

.about {
  top: -64px;
}

.section {
  padding-top: 64px;
  margin: 0 auto;
  width: 100%;
}

.indicator {
  margin: 2px;
  background-image: url("../back-img/Indicator.png");
  background-repeat: no-repeat;
  background-position: center;
}

.work_cards {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-row-gap: 24px;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 64px;
  width: 88%;
}

.card {
  height: 474px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  position: relative;
}

.card_img {
  height: 100%;
  width: 100%;
}

.card_details {
  height: 222px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.recent_work h1 {
  padding: 0 24px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

.card_details h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.card_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.tags {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}

.tag_btn {
  padding: 8px 12px;
  background-color: #ebf0ee;
}

.tag_txt {
  color: #3a4a42;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.act_btn {
  padding: 12px;
  background-color: #36b37f;
}

.act_txt {
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.info {
  height: 333px;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about .info h1 {
  padding: 0 24px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

.about .info p {
  line-height: 32px;
}
